<div *ngIf="floors.length > 0" class="container">
  <div class="card">
    <div class="flex">
      <select (change)="_getSections($event.target.value)">
        <option disabled hidden selected>Select a floor</option>
        <option *ngFor="let floor of floors" [value]="floor.id">{{floor.name}}</option>
      </select>
      <ng-container *ngIf="sections.length > 0">
        <button *ngFor="let section of sections" class="buton-link"
          (click)="_getProducts(section.id)">{{section.name}}</button>
      </ng-container>
    </div>
    <table *ngIf="products.length > 0">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <ng-container *ngFor="let product of products">
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
