.error{
    color: red;
    font-size: small;
    text-align: right;
    margin: 0;
    margin-top: 0.3rem;

}

div{
    margin-bottom: 1.5rem;
}

select{
    width: 13rem;
}

input{
    width: 11.8rem;
}

span{
    margin-top: 0.5rem;
}